body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
	width: 60%;
	height: 100%;
  margin: 0 auto;
}

.container > div {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;

}

.container header {
  height: 70px;
  display: flex;
  align-items: center;
}

.container header h1 {
  flex: 1;
  text-align: center;
}

.container img {
  width: 32px;
  height: 32px;
}
