table {
  margin-top: 2rem;
  border-collapse: collapse;
  border: 1px solid #2E5BFF;
}

td, th {
	padding: 0.7rem;
	margin: 0;
  text-align: center;
  font-size: 0.875rem;
}

thead tr {
  background: #2E5BFF;
  color: white;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

tbody tr {
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background: rgba(46,91,255,.1);
  color: #2e5bff;
}

tbody tr:nth-child(odd) {
  color: rgba(0, 0, 0, 0.5);
}

.button {
  border-radius: 50%;
  background: #2E5BFF;
  color: white;
  outline: 0;
  cursor: pointer;
}

.button + .button {
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.buttonActive {
  background: violet;
}
